node_modules
.turbo
dist
build
.DS_Store
.env
.env.local
.env.*.local
apps/api/generated
*.tsbuildinfo
apps/web/src/**/*.js
apps/web/src/routeTree.gen.ts
apps/web/vite.config.js
.astro
apps/docs/src/content/docs/specs
